$mainColor:#060612;
$secColor:#0718CA;
$wordColor:#969397;
$wordColor_gray:#6D7278;
$wordColor_deep:#2F2A30;
$yellow:#FFFF66;

* {box-sizing: border-box;}

html,body{
   padding:0;margin:0;
   font-size:14px;
   color:#fff;
   background:$mainColor url("../images/bg.jpg")no-repeat top center;
   font-family: "-apple-system","PingFang TC","Microsoft JhengHei","Source Sans Pro", Helvetica, sans-serif;
}

// .popup{background:rgba(0,0,0,0.7);
//   z-index:9999;margin:0 auto;text-align: center;
//   left: 0;right: 0;width:80%;max-width:350px;
//     position:fixed;top: 40%;line-height: 22px;
//   color:#fff;border-radius:10px;padding:20px 25px;
// }
// .toast-potato{
//   background:#4683E6;text-align:left;
//   padding:12px 10px 12px 7px;margin-top:30px;
//   border:1px solid #4785EE;
//   border-radius:6px;color:#fff;
//   img{float:left;display:block;width:45px;}
//   a{border-bottom:none;display:block;
//     &:hover{color:#fff;}
//   }
//   h6{color:#fff;padding:0;margin:0;font-size:14px;
//     line-height:18px;padding-left:50px;
//     span{display:block;margin-bottom:10px;}
//   }
//   b{font-size:14px;text-align:left;font-weight:300;padding:0;margin:0;color:#83FFFF;border-bottom:1px dotted #83FFFF;padding-left:2px;}
// }

p{line-height: 1.8rem;}
img{max-width:100%;}
a{text-decoration:none}
.tc{text-align:center}
.tl{text-align: left}


.store_logo{border:1px solid $yellow;border-radius:5px}

.topBar{
  .logo{display:inline-block;width:29%;}
  .marquee{display:inline-block;vertical-align: top;width:70%;
  padding-top: 1.2rem}
}

.clear-both{clear:both;}

section{margin-top: 2rem}
.section_banner{
  .banner{position:relative;
    img{border:4px solid $secColor;border-radius:3px;}

  }
  .banner_title{position:absolute;bottom:-4px;z-index: 2}
  .section_banner_img{position:absolute;right:0;bottom:-5px;}
}
.title_bg{position:relative;
  background: url("../images/title_bg.png")no-repeat left ;width:165px;height:48px;
          span{color:#fff;font-size:1.2rem;display:block;padding-left:4rem;padding-top:.9rem;}
}

.title_bg_center{margin: 0 auto;margin-bottom:1.6rem;}
.title_bg_link{position:absolute;left:0;right:0;margin:0 auto;top:-2rem;}

.area{max-width:750px;width:90%;margin:0 auto;}

.col-md-4{display:inline-block;width:32%;
  vertical-align: top;
  padding:.5rem;margin-bottom:1.2rem;}

 .col-md-3{display:inline-block;width:24%;
  vertical-align: top;
  padding:.5rem;margin-bottom:1.2rem;}
.hot_app_box{
  position:relative;
  border-radius: .3rem;
  padding:1rem;
  padding-bottom: .8rem;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 95%, #e1e5e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 95%,#e1e5e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 95%,#e1e5e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e5e8',GradientType=0 ); /* IE6-9 */
text-align: center;
  .hot_app_box_no{position:absolute;left:0;top:-.8rem;}
  .hot_app_box_img{margin-bottom: .5rem;padding:10px;padding-bottom: 0;
    img{border-radius:.8rem;
     -moz-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     box-shadow:2px 2px 10px rgba(0,0,0,.24);}
  }


  .hot_app_box_img_circle{
    display: inline-block;
    margin-bottom: .5rem;
    width:30%;
    padding:10px;padding-bottom: 0;

    img{max-width:55px;
     -moz-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     box-shadow:2px 2px 10px rgba(0,0,0,.24);
     border-radius:50px;}
  }

  .hot_app_box_text{
    display: inline-block;width:65%;vertical-align: top;padding:1.7rem 0 0 1rem;
  }


  h2,p{text-align:center;}


}

h2{color:$wordColor_deep;font-size:1.3rem;margin:0}
p{color:$wordColor_gray;margin:0;}

.section_hot_app{background:url("../images/img_right.png")no-repeat 100% 20%}

.section_link{position:relative;margin-top: 4rem;
  background:#051249 url("../images/bg_blue_left.jpg")no-repeat left bottom;
  padding-top: 4rem;
  padding-bottom: 3rem;
  .section_link_img{position:absolute;top:-3.1rem;left:2rem;}

}

.ul_link{list-style:none;padding:0;margin:0;
        li{display:inline-block;width:19%;margin-bottom: 15px;
          a{display:block;color:#fff;border:1px solid $yellow;padding:8px;text-align:center;margin:5px;}
        }
}


footer{
  background:url("../images/footer_star.png")no-repeat 96% 50%;
  margin: 3rem;
  .footer_box{

    border-bottom: 1px solid #6475C9;
    padding-bottom: 1rem;
    .footer_img{display:inline-block;width:15%;
      img{max-width: 100%;}
    }
    .footer_text{
      vertical-align: top;padding-top: 1.5%;line-height: 1.6rem;
      color:#BDBEBE;font-size:.9rem;display:inline-block;width:84%;}
  }
}


.app_download{width:270px;height:63px;display:inline-block;margin:0 auto;
  background: url("../images/button_download.png")no-repeat ;margin-left: 0px}

.button_copy{width:46px;height:43px;display:none;margin:0 auto;
  background: url("../images/icon-copy.png")no-repeat center center ;
color:#080609;text-align: center;font-size:12px;font-weight: bold;
padding-top:27px}


.button_copy_input{
  &:focus{outline: none;}
  border:none;background: transparent;color:#091D8E}

  .button_copy_input{display: none}

.brand_intro{text-align: center;position: relative;
  border-bottom: 1px solid #6475C9;
  h1{font-size:3rem;font-weight: normal;margin:.2rem 0 1.2rem 0;}
  ul{list-style:none;padding:0;margin:0;margin:1rem;
    li{display: inline-block;color:$yellow;margin-right:.5rem;}
    li:nth-child(3){background:url("../images/store_nine/icon-line.png")no-repeat left center;padding-left:20px;}
  }
}


.brand_app{
  padding-top: 1rem;margin-bottom: 0;
  padding-bottom:1.5rem;
  position:relative;
  .brand_app_line{position:absolute;content: '';bottom:5px;
    background: #6475C9;width: 100%;height: 1px;}
  p{color:#fff;text-align: center;padding-bottom: 1rem;font-size:1.2rem;line-height: 1.8rem}
}

.user_evaluation{
  margin-top: 2rem;
  p{color:#fff;font-size: 1.2rem;}
  .evaluation{margin-top: .5rem;margin-bottom: 1rem;
    img{margin-right:10px;}
    color:$yellow;line-height:1.4rem;
  }

}

.user_comment{
  background:rgba(13,27,177,.56);color:#fff;
  border-radius: 3px;padding:10px 8px;text-align: center;
  margin-bottom: .5rem;
  div{display:inline-block;vertical-align: middle;}
  .user_comment_img{width:10%;img{max-width:45px;border-radius:50%;}}
  .user_comment_name{width:15%;}
  .user_comment_txt{width:60%;text-align: left;}
  .user_comment_recommend{width:13%;color:$yellow;
    img{margin-right:5px;}
  }
}



.hot_app_button{
  background:#FFFF1E;
  border:1px solid #AC9011;
  border-radius: 9px;
  width: 100%;
  margin-top:.5rem;margin-bottom: .5rem;
  padding:4px;font-weight: bold;
  text-align: center;
  color:#080609;
}

.col-md-3{
  .hot_app_box .hot_app_box_img_circle{width:20%;padding:5px 5px 5px 0;
    img{width:35px;}}
    .hot_app_box{padding:.8rem;}
    .hot_app_box .hot_app_box_text{padding: .6rem;}
}

.section_recommend{
  margin-top: 2rem;
  background: url("../images/store_nine/icon_circlex3.png")no-repeat 10% 60%;}

.hot_app_box_more{
  padding-bottom:30px;
  position: relative;
  .more_button{position:absolute;z-index:2;bottom:-5px;right:0;}
  .hot_app_box_img{
    img{max-width: 66px;}
  }
  h2,p{text-align: center;}
}

.brand_app_img_3{
  .brand_app_img_3_s{position:absolute;left:0;bottom:0;z-index:2;
    width:40%}
  ul{list-style: none;width: 100%;
    text-align: right;
    margin:0;
    padding:0;
    position: relative;
    
  li{display: inline-block;}
  li img{border-radius: 12px;-moz-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     box-shadow:2px 2px 10px rgba(0,0,0,.24);}
  li:nth-child(1){width:15%;vertical-align: bottom;}
  li:nth-child(2){width:40%;img{margin-bottom: 1.5rem}}
  li:nth-child(3){width:40%;img{margin-bottom: 1.5rem}}
}
}


.popup {
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  width: 60%;
  position: fixed;
 
  font-size: 1.2rem;
  line-height: 22px;
  color: #fff;
  border-radius: 10px;
  padding: 25px 35px;
 
   }

.popup_code{ top: 30%;}
.popup_copy{ top: 40%;}


@media(max-width:1280px){
   .section_hot_app{background-size:20%;}
   .section_recommend{background-size:5%;}
   .section_link .section_link_img{display: none}
}


@media(max-width:991px){
  .ul_link li{width:24%;}
  .section_banner_img{width:25%}
}

@media(max-width:768px){
.brand_intro{ul{margin-top: 0rem}}
.user_comment .user_comment_txt {}

  .section_hot_app{background:url("");}
  html,body{font-size:12px;}
  .ul_link li{width:32%;
    a{padding:5px;}
  }

  .title_bg {
    background-size: 100%;
    width: 122px;
    height: 35px;
}
.title_bg span{padding-left: 3.3rem;
    padding-top: .6rem;}
    .app_download{margin-left: 40px}
    .button_copy{display: inline-block;}
    .button_copy_input{display: block;}
}

@media(max-width:640px){

.user_comment{
   padding:5px 4px;
  .user_comment_img{width:15%;img{max-width:30px;}}
  .user_comment_name{width:15%;}
  .user_comment_txt{width:48%;}
  .user_comment_recommend{width:18%;}
}


  .topBar .logo{width:100%;display:block;}
  .topBar .marquee{width:100%;display:block;padding-top:0rem;}
  section{margin-top:1rem;}

.hot_app_box .hot_app_box_no{width:27px;top:-.5rem;}
h2 {font-size: 1.2rem;}
p{line-height:1.6rem;font-size:.9rem}
.hot_app_box{padding:.5rem;}
.hot_app_box .hot_app_box_img_circle img{max-width:30px;}
.section_new .hot_app_box{padding:.4rem;}
.col-md-4{padding:.2rem;}
.hot_app_box p{height:2rem;}
.hot_app_box .hot_app_box_text {
    width: 65%;
    padding: .7rem 0px 0px .1rem;
}
.hot_app_box .hot_app_box_img_circle{padding:0;margin:0;
  img{margin-top:.5rem; }
}

.ul_link li {
    margin-bottom: 5px;
}
footer .footer_box .footer_text{width: 80%;padding-left:5px;}

.hot_app_box_more{padding:.3rem;padding-bottom:35px;
  .more_button{width:50px;bottom:-2px}
}

.recomand_stars{width:80%;}

.col-md-3{width:49%;}
.col-md-3 .hot_app_box .hot_app_box_text {padding-top:1.3rem}

.app_download{width:175px;height:43px;background-size:100% 100%}
.store_logo{width:80px}
.brand_intro h1{font-size: 2rem;}

}

@media(max-width:480px){
  .section_banner .section_banner_img{bottom:3rem;}
  .brand_app_img_3 ul li:nth-child(1) {width:15%;}
  .brand_app_img_3 .brand_app_img_3_s{
    width:30%}
  .brand_app{
  .brand_app_line{bottom:2px;}}
  .user_evaluation {
    margin-top: .5rem;
}

footer{
  background:url("");
}
.footer_box{width:100%}
}
@media(max-width:360px){
  h2 {font-size: 1.1rem;}
  
  .hot_app_box .hot_app_box_img_circle{
    img{width:25px;}}
}

@media(max-width:320px){

.hot_app_box .hot_app_box_text {
    width: 100%;
    padding: 0rem;padding-top: .5rem;
    h2{text-align: center;}
}

.ul_link li{width:49%;}
.brand_intro ul{margin:1rem 0rem}
.section_banner .section_banner_img{bottom:7rem;right:1rem}

}